{% extends 'layout.html' %}

{% block main %}
<ol class="breadcrumb">
  <li><a href="admin/index">管理首页</a></li>
  <li><span>用户列表</span></li>
</ol>

<h3>用户列表</h3>
<table class="table table-hover table-striped">
	<tr>
		<th>ID</th>
		<th>name</th>
		<th>password</th>
		<th>isAdmin</th>
	</tr>

	{% for user in users %}
	<tr>
		<td>{{user._id.toString()}}</td>
		<td>{{user.username}}</td>
		<td>{{user.password}}</td>
		<td>
			{% if user.isAdmin %} Yes {% endif %}
		</td>
	</tr>
	{% endfor %}
</table>

<!-- 上下翻页 -->
{% include 'page.html' %}

{% endblock %}