<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>我的博客</title>
    <link rel="stylesheet" href="/public/css/main.css">
    <link rel="stylesheet" href="/public/fontAwesome/css/font-awesome.css">
    <script src="/public/js/index.js"></script>
</head>
<body>
    <header>
        <h2>欢迎访问，han的博客</h2>
        <ul>
            <li><a href="">首页</a></li>
            <li><a href="">HTML5</a></li>
            <li><a href="">CSS3</a></li>
            <li><a href="">JavaScript</a></li>
            <li><a href="">Nodejs</a></li>
            <li><a href="">Express</a></li>
        </ul>
    </header>
    <div class="container">
        <div class="container_main">这里是主要内容</div>
    </div>
    <div class="side">
        <div class="user">
            <h3>用户信息</h3>
        </div>
        <div class="login">
            <h3>登录</h3>
        </div>
        <div class="signin">
            <h3>注册</h3>
        </div>
    </div>

</body>
</html>